* {
  margin: 0;
  padding: 0;
}

#target {
  width: 500px;
  height: 500px;
  background-color: red;
}

form {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
